/* TIPO */

body {
    height: 100vh;
    width: 100vh;

    background-color: white;
}

/* CLASES */

.general {
    width: 40em;
    height: 42.6em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.carcasa1 {
    width: 40em;
    height: 20em;
    background-color: rgb(247, 202, 207);
    border-radius: 4% 4% 1% 1%;

    outline: solid;
    outline-width: 0.1em;
    outline-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carcasa2 {
    width: 40em;
    height: 20em;
    background-color: rgb(247, 202, 207);
    border-radius: 1% 1% 4% 4%;

    outline: solid;
    outline-width: 0.1em;
    outline-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.columna {
    width: 10em;
    height: 20em;

    margin: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columnaBot {
    width: 10em;
    height: 10em;

    margin-top: 3.5em;
    margin-bottom: 3.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bisagra {
    width: 40em;
    height: 2.6em;
    background-color: rgb(247, 202, 207);
    border-radius: 20%;

    display: flex;
    flex-direction: column;

    outline: solid;
    outline-width: 0.1em;
    outline-color: black;
}

.altavoces {
    width: 8em;
    height: 6em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    width: 18em;
    height: 13em;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: solid;
    outline-width: 0.1em;
    outline-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnaCru {
    width: 10em;
    height: 10em;

    margin-top: 3.5em;
    margin-bottom: 3.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columnaVac {
    width: 10em;
    height: 10em;

    margin-top: 3.5em;
    margin-bottom: 3.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crucetaAbajo {
    height: 7.8em;
    width: 7.8em;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.crucetaAbajo2 {
    height: 7.8em;
    width: 7.8em;
    z-index: 1;

    display: flex;
    align-items: center;
}

.cruceta1 {
    height: 2.6em;
    width: 2.6em;

    background-color: lavender;
}

.cruceta2 {
    height: 2.6em;
    width: 7.8em;

    background-color: lavender;
}

.cruceta3 {
    height: 2.7em;
    width: 2.7em;

    background-color: black;
}

.cruceta4 {
    height: 2.7em;
    width: 7.9em;

    background-color: black;
}

.boton {
    width: 2.6em;
    height: 2.6em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;

    background-color: lavender;

    outline: solid;
    outline-width: 0.1em;
    outline-color: black;

    border-radius: 50%;
}

.botonVacio {
    width: 2.6em;
    height: 2.6em;
}

.YA {
    width: 10.4em;
    height: 2.6em;

    color: black;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

/* ID */

#botones {
    width: 2.6em;
    height: 2.6em;

    color: black;

    background-color: lavender;

    outline: solid;
    outline-width: 0.1em;
    outline-color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}